@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.tinos-regular {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
    color: #010000;
}

.tinos-bold {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: normal;
    color: #010000;
}

.tinos-regular-italic {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: italic;
    color: #010000;
}

.tinos-bold-italic {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: italic;
    color: #010000;
}

/* Chrome, Safari, Edge, Opera-এর জন্য */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox-এর জন্য */
input[type=number] {
    -moz-appearance: textfield;
}

input, select {
    border: 1px solid white;
    color: white;
}

input::placeholder {
    color: white;
}
label {
    color: white;
    background-color: transparent;
}

option {
    color: black;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.formTable {
    animation: startup 1s ease;
}
@keyframes startup {
    from{transform: translateY(-100%);};
    to{transform: translateY(0%);};
}